.header{
  background-image: url('../img/img-hero-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mask{
  opacity:0.7;
  mix-blend-mode: multiply;
  background-color: var(--dark-sage);
}
.bg-header{
  
  background-color: rgba(15, 17, 16,0.1 );
  position: absolute;
  top: 51;
}
.nav ul{
 list-style: none;
}
.nav li{
  display: inline-block;
}
.nav ul li a{
  text-decoration: none;
  margin: 20px;
  width: 44px;
  height: 21px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.nav ul li:nth-child(1) a{
  color: #70c919;
}
.nav ul li :last-child {
  width: 17px;
  height: 17px;
  object-fit: contain;
}
.frontend-ninja h2{
  font-size: 82px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.about-ninjas p{
  opacity: 0.7;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  margin: 0 auto;
  padding:10px;
}
.readmore-btn{
  border-radius: 4px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
  background-color: var(--jade-green);
  cursor: pointer;
}
.apply a{
  width: 88px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  opacity: 0.7;
}
.apply img{
  width: 18px;
  height: 18px;
  object-fit: contain;
  float: right;
  opacity: 0.7;
}




/*section-1 */
.title h2{
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--warm-grey);
}
.requirement-img{
  width: 100%; 
  height: 196px;
}
.img-title{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: var(--jade-green);
}
.requirement-content p{
  opacity: 0.78;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  padding: 2px;
}




/* section-2 */
.resources h2{
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--warm-grey);
}
.designer-txt a{
  text-decoration: none;
  size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
.magazine-txt a{
  text-decoration: none;
  size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
.front-txt a{
  text-decoration: none;
  size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
.all-resources a:hover{
  color:burlywood;
}
.all-resources a{
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
/* .sec2-column2 */

.update h2{
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--warm-grey);
}
.js-tip a{
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
.date-time{
  opacity: 0.5;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--warm-grey);
}
.dashboard a{
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
.jsrobot a{
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
.all-updates a{
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--jade-green);
}
 .all-updates a:hover{
  color:burlywood; 
}



/* Section-3 */
.photos-title h2{
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--warm-grey);
}
.title-extention{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--warm-grey);
}
.random-photos ul{
  text-decoration: none;
}
.random-photos ul li{
  display: inline-block;
  /* width: 480px; */
  width:33.3%;
  height: 400px;
  margin: 0 auto;
  white-space: nowrap;
}
.random-photos li:nth-child(3){
  width:33.4%;
}
.random-photos li:nth-child(6){
  width:33.4%;
}


/* Section-4 */
.provide-title h2{
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.col1-providetitle h2{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
}
.col1-providetxt{
  opacity: 0.5;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding: 3px;
}
.col1-providetitle2 h2{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
}
.col1-providetxt2{
  opacity: 0.5;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding: 3px;
}




/* colum2-provide csss */
.colum2-providetitle h2{
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
}
.colum2-providetxt{
  opacity: 0.5;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  padding: 3px;

}
.readmore-btn2{
  border-radius: 4px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.9);
  background-color: var(--jade-green);
  cursor: pointer;
}



/* Footer */
.copyright{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.footer-menu ul{
  list-style:none;
}
.footer-menu li{
  display: inline-block;
}
.footer-menu li a{
  text-decoration: none;
  margin: 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


















